<div class="container" [formGroup]="puzzelForm">
  <span><strong>Landkaart</strong></span>
  <span
    >De laatste keer dat een groep onderzoekers het mysterie probeer- de te
    ontrafelen, is er een verfrommeld briefje achtergebleven. Op het briefje is
    een deel van de landkaart zichtbaar met daarop een specifieke locatie
    gemarkeerd. Zou deze locatie het onderzoeken waard zijn?</span
  >
  <img src="assets/images/map1.PNG" />
  <span
    >Op de achterkant van de landkaart stond nog een aanwijzing geschreven in
    een bijna ontcijferbaar handschrift.</span
  >
  <img src="assets/images/handwriting2.png" />
  <input type="number" formControlName="code1" (focus)="onFocusChange()" />
  <div *ngIf="puzzelForm.invalid && hasBeenSubmitted" class="errors">
    <span
      *ngIf="
        puzzelForm.controls['code1'].errors?.required ||
        puzzelForm.controls['code1'].errors?.invalidCode
      "
      class="error-message"
    >
      De code is incorrect.
    </span>
  </div>
  <button (click)="onSubmit()">Ga verder</button>
</div>
