@mixin inputFields {
  background-color: #000;
  border: 2px solid #149414;
  border-radius: 10px;
  color: #149414;
  font-size: 1.25rem;
  font-family: "Courier New", Courier, monospace;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 1.25rem;

  span:first-of-type {
    margin-bottom: 2rem;
  }

  span:not(.error-message) {
    color: #149414;
    text-align: justify;
  }

  img {
    margin: 1rem 0;
  }

  input {
    @include inputFields;
    height: 48px;
    margin: 2rem 2rem 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  input:focus-visible {
    outline: none;
  }

  button {
    @include inputFields;
    height: 48px;
    width: fit-content;
    padding: 0.5rem 1rem;
    margin: 1rem auto 1.25rem;
  }

  .coordinates {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;

    input {
      width: 24px;
      margin: 0.25rem;
      padding: 0.2rem 0.75rem;
    }

    span {
      font-size: 2rem;
    }

    span:nth-of-type(3),
    span:nth-of-type(5) {
      padding-top: 2rem;
    }
  }
}
