<div class="container" [formGroup]="puzzelForm">
  <span><strong>Coordinaten</strong></span>
  <span>
    Het einde lijkt in zicht. De laatste hint hebben jullie weten te
    ontcijferen. Het mysterie is bijna opgelost. Maar om niet teveel prijs te
    geven naar buiten, hebben ook de wetenschappers een hint achterlaten van de
    plek waar de volgende locatie te vinden is. De tip is te vinden op deze
    plek: "Hier rust en rot het overschot van moeders middagmaal en
    avondpot".
  </span>
  <input type="number" formControlName="code" (focus)="onFocusChange()" />
  <div *ngIf="puzzelForm.invalid && hasBeenSubmitted" class="errors">
    <span
      *ngIf="
        puzzelForm.controls['code'].errors?.required ||
        puzzelForm.controls['code'].errors?.invalidCode
      "
      class="error-message"
    >
      De code is incorrect.
    </span>
  </div>
  <button (click)="onSubmit()">Ga verder</button>
</div>
