<div class="container" [formGroup]="puzzelForm">
  <span><strong>Coordinaten</strong></span>
  <span>
    Het einde lijkt in zicht. De laatste hint hebben jullie weten te
    ontcijferen. Het mysterie is bijna opgelost. Er dwarrelt een briefje op de
    grond voor jullie voeten. Daarop staan coordinaten geschreven. Met deze
    laatste hint zal het mysterie snel opgelost zijn. En kan de geheimzinnige
    box eindelijk geopend worden.
  </span>
  <span><i>52°32'59.5"N</i></span>
  <span><i>6°33'36.6"E</i></span>
  <input type="number" formControlName="code" (focus)="onFocusChange()" />
  <div *ngIf="puzzelForm.invalid && hasBeenSubmitted" class="errors">
    <span
      *ngIf="
        puzzelForm.controls['code'].errors?.required ||
        puzzelForm.controls['code'].errors?.invalidCode
      "
      class="error-message"
    >
      De code is incorrect.
    </span>
  </div>
  <button (click)="onSubmit()">Ga verder</button>
</div>
