<div class="header">
  <h1>Het mysterie van de Bontekoe</h1>
  <h2><i>Virtual Escape</i></h2>
</div>

<div class="container" [formGroup]="choiceForm">
  <label for="team">Teamnaam:</label>
  <input name="team" formControlName="team" type="text" />

  <div *ngIf="choiceForm.invalid && hasBeenSubmitted" class="errors">
    <span *ngIf="choiceForm.controls['team'].errors?.required" class="error-message"
      >Vul een teamnaam in.</span
    >
  </div>

  <button (click)="onStart()">Ga verder</button>
</div>
