/* You can add global styles to this file, and also import other style files */

body {
  height: 95vh;
  margin: 0;
  background-color: #000;
  font-family: "Courier New", Courier, monospace;
}

.errors {
  .error-message {
    margin: 0 2rem;
    font-size: 0.75rem;
    color: #ff2200;
  }
}

p, span {
  font-size: 1rem;
}
